/* General styles for the communication section */
#communication {
  padding: 1rem 1rem;
  background-color: linear-gradient(to bottom, #ff9748, #f6f6f8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

@media screen and (max-width: 980px) {
  .contact-us-page #communication {
    flex-direction: column;
  }

  .contact-us-page.contact-info {
    width: 100%;
  }
}

.contact-us-page ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  padding: 0;
  list-style: none;
}

@media (min-width: 500px) {
  .contact-us-page ul {
    grid-auto-flow: column;
  }
}

.contact-us-page a {
  color: #ff9748; /* Link color */
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Smooth color transition */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contact-us-page a:hover {
  color: #ffffff; /* Change hover color to white for contrast */
}

.contact-us-page li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.contact-us-page li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}
