#home {
  min-height: 100vh;
  /* max-height: 100vh; */
  /* height: 100vh; */
  /* background-image: url(../../img/hero.webp); */
  /* background-size: cover; */
  /* background-position-y: center; */
  /* background-position: center; */
  background-color: #f6f6f8;
  box-sizing: border-box;
  padding: 3rem 5rem;
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-evenly; */

  box-sizing: border-box;
}

#home .image-container {
  max-width: 50%;
}

#home .image-container img {
  width: 100%;
}
h3 {
  color: #ff9748;
  display: flex;
  align-items: center;

  font-size: 1.5rem;
}
.hero {
  /* background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1); */

  /* background-color: hsla(239, 39%, 76%, 0.7); */

  border-radius: 15px;

  /* padding: 1rem; */

  width: fit-content;
  /* flex: 1; */

  max-width: 450px;
}

.hero header {
  display: flex;
  gap: 1rem;
}

.hero header .badge {
  padding: 0.8rem;

  border-radius: 10px;

  /* background-color: rgba(255, 255, 255, 0.5); */
  /* background-color: rgba(0, 0, 0, 0.15); */
  background-color: #ecc235;
  /* border: 2.5px solid rgba(255, 255, 255, 0.5); */

  display: flex;
  flex: 1;
}

.hero header .badge i {
  font-size: 2.3rem;

  margin-right: 0.8rem;

  display: grid;
  place-content: center;

  color: #28285b;
}

.hero header span {
  font-weight: bold;
  color: #28285b;
}

.hero header a {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;

  color: white;
}

.hero h4 {
  color: #201307;

  display: flex;
  align-items: center;

  user-select: none;
}

.hero h1 {
  font-size: 4rem;
  line-height: 4rem;

  color: #7b9ee9;
  user-select: none;
}

.hero h1 span {
  color: #201307;
}

.hero p {
  user-select: none;
}

.hero footer {
  display: flex;
  justify-content: center;
}

.hero h4 .badge {
  /* background-color: #28285b; */
  background-color: #7b9ee9;

  border-radius: 1000px;

  padding: 0.5rem 1.5rem;
  margin: 1rem 0;

  color: white;

  user-select: none;
}

@media screen and (max-width: 640px) {
  #home {
    padding: 2rem 1rem;
    /* justify-content: center; */
    /* flex-direction: column; */
  }

  #home .image-container {
    max-width: 100%;
  }

  .hero header a {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 980px) {
  #home {
    flex-direction: column;
  }

  #home .image-container {
    max-width: 100%;
  }
}
