.container {
  padding: 100px 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/loginbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.formLogin {
  padding: 25px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.formLogin img {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}

.formLogin input:focus + img {
  opacity: 1;
}

.formLogin > h2 {
  margin-top: 10px;
  margin-bottom: 28px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.formLogin > div {
  margin-bottom: 15px;
}

.formLogin > div > div {
  position: relative;
}

.formLogin input[type="text"],
.formLogin input[type="email"],
.formLogin input[type="password"] {
  background: #ffffff;
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  padding: 15px 20px;
  width: calc(100% - 40px);
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formLogin input[type="text"]:hover,
.formLogin input[type="email"]:hover,
.formLogin input[type="password"]:hover {
  border-color: #c2c2c2;
}

.formLogin input[type="text"]:focus,
.formLogin input[type="email"]:focus,
.formLogin input[type="password"]:focus {
  border: 2px solid #4a90e2;
  border-color: #4a90e2; /* Example focus color */
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); /* Soft glow effect */
}

.completed,
.unCompleted {
  position: relative;
}

.unCompleted > input {
  border: 1px solid #ff0000 !important;
  transition: border 0.3s ease;
}

.completed > input {
  border: 1px solid #42ba96 !important;
  position: relative;
  transition: border 0.3s ease;
}

.unCompleted::after {
  content: "";
  background-image: url(../img/close.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.completed::after {
  content: "";
  background-image: url(../img/check.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.formLogin input[type="checkbox"] {
  position: relative;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-color);
  appearance: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.formLogin input[type="checkbox"]:checked {
  background-color: var(--main-color-hover);
  background-image: url("../img/tik.svg");
}

.formLogin input[type="checkbox"]:focus {
  outline: none;
  border: 2px solid var(--main-color-hover);
}

.formLogin img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Ensure it is perfectly centered */
  width: 20px;
  height: 20px;
}
.formLogin > div > div img {
  position: absolute;
  max-width: 15px;
  max-height: 15px;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.formLogin ::placeholder {
  color: #bfbbbb;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.formLogin > div span.error {
  height: 10px;
  text-align: left;
  margin-top: 5px;
  width: fit-content;
  font-size: 0.7rem;
  color: red;
  line-height: 1px;
  padding: 9px 3px;
  border-radius: 3px;
  display: inline-block;
}

.formLogin button[type="submit"] {
  display: block;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  outline: 0;
  border: none;
  color: #fff;
  padding: 10px;
  margin: 15px;
  background-color: #4a90e2;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.formLogin button[type="submit"]:hover {
  background-color: #357abd; /* Darker on hover for interactive feedback */
  cursor: pointer;
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px;
}
.headerTitle {
  color: #ffffff;
  text-align: center;
}

@media (max-width: 678px) {
  .formLogin {
    min-width: 280px;
    padding: 25px;
  }
  .formLogin input[type="text"],
  .formLoginQ input[type="email"],
  .formLogin input[type="password"] {
    padding: 12px 15px;
  }
}
