@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

.profile-container {
  height: 100vh;
  width: 100%;
  margin: 70px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.profile-header {
  background: radial-gradient(
    circle at right,
    #ede7b1,
    #d3f8e2,
    #a9def9,
    #e4c1f9,
    #f694c1
  );
  display: flex;
  align-items: center;
  padding: 40px;
  position: relative;
}

.profile-img {
  flex: 0 0 150px;
  height: 150px;
  margin-right: 20px;
}


.profile-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-nav-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-nav-info h3 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  font-variant: small-caps;
}

.profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #555;
  margin-top: 0px;
}

.profile-nav-info .address p {
  margin-right: 5px;
}

.main-bd {
  display: flex;
  padding: 20px;
}

.left-side,
.right-side {
  flex: 1;
}

.profile-side {
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.profile-side p {
  color: #333;
  font-size: 14px;
  margin: 10px 0;
}

.profile-side p i {
  color: #e40046;
  margin-right: 10px;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.nav ul li {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav ul li:hover,
.nav ul li.active {
  background: #e4c1f9;
  color: #fff;
  border-radius: 8px;
}

.profile-body {
  width: 100%;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
  padding: 20px;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
  }

  .profile-img {
    margin-bottom: 20px;
  }

  .main-bd {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .profile-nav-info h3 {
    font-size: 1.5rem;
  }

  .profile-nav-info .address {
    font-size: 0.9rem;
  }
}
