@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

.profile-container {
  height: 100%;
  width: 100%;
  margin: 70px auto;
  background: #f6f6f8;
  border-radius: 8px;
  overflow: hidden;
}

.profile-header {
  background: radial-gradient(
    circle at right,
    #ede7b1,
    #d3f8e2,
    #a9def9,
    #e4c1f9,
    #f694c1
  );
  display: flex;
  align-items: center;
  padding: 40px;
  position: relative;
}

.profile-img {
  flex: 0 0 150px;
  height: 150px;
  margin-right: 20px;
}

.profile-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-nav-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name {
  color: #201307;
}

.profile-nav-info h3 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  font-variant: small-caps;
}

.profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #555;
  margin-top: 0px;
}

.profile-nav-info .address p {
  margin-right: 5px;
}

.main-bd {
  display: flex;
  padding: 20px;
}

.left-side,
.right-side {
  flex: 1;
}

.profile-side {
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.profile-side p {
  color: #333;
  font-size: 14px;
  margin: 10px 0;
}

.profile-side p i {
  margin-right: 10px;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.nav ul li {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav ul li:hover,
.nav ul li.active {
  background: #80afb4;
  color: #fff;
  border-radius: 8px;
}

.profile-body {
  width: 100%;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
  padding: 20px;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.services-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.services-table th,
.services-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.services-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #80afb4;
  color: white;
}

.services-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.services-table tr:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
  }

  .profile-img {
    margin-bottom: 20px;
  }

  .main-bd {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .profile-nav-info h3 {
    font-size: 1.5rem;
  }

  .profile-nav-info .address {
    font-size: 0.9rem;
  }
}

.personal-info {
  margin-top: 20px;
}

.personal-info h2 {
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.personal-info p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
}

.personal-info p strong {
  color: #555;
}

/* .update-button {
  background-color: #ff9748;
  border-radius: 10px;
  width: 5rem;
  animation: glowing 20s linear infinite;
} */
#root {
  --glow-color: #ff9748;
}
.glowing-btn {
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  margin-left: 30em;
  margin-top: 1em;
  border: 0.15em solid #ff9748;
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 1em;
  font-weight: 700;
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: #ff9748;
  box-shadow: 0 0 2em 0.2em #ff9748;
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}
