.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 7rem;
}

.service-card {
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.service-card:hover {
  transform: scale(1.01);
}

.service-card img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.service-card {
  flex: 1;

  border-radius: 15px;

  overflow: hidden;

  background-color: #a9aad9;

  text-align: center;

  display: flex;
  flex-direction: column;

  transition: 0.2s ease-in-out;
}

.service-card:hover {
  scale: 1.02;
}

.service-card header {
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.service-card header img {
  width: 100%;
}

.service-card h2 {
  margin: 1rem;
}

.service-card p {
  margin: 1rem;
  margin-top: 0;
}
.more-services-link {
  height: 2.5rem;
}
.more-services-home {
  padding: 1rem;
}

@media screen and (max-width: 980px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
