#services {
  min-height: 100vh;
  position: relative;
  background-color: #f6f6f8;
  /* background-image: linear-gradient(to bottom, #f6f6f8, #ff9748); */
  z-index: 2;

  padding: 1rem 5rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#services header {
  text-align: center;
}

#services header h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
}

#services header h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;

  color: #201307;
}
