@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #f6f6f8; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Source Sans 3", sans-serif;
}

.dash {
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background-color: #ff9748;
  display: inline-block;
  margin-right: 1rem;
}

.dot {
  /* color:#201307 */
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 25px;
  border: 5px solid #201307;
  display: inline-block;
  margin-right: 1rem;
}
