.faq-container {
  --color-primary: #ff9748;
  --color-text: #201307;
  --color-white: #fff;
  --color-title: #201307;
  --color-background: #f6f6f8;
  --color-border: #ff9748;
  --fs-sm: 1rem;
  --fs-md: 1.2rem;
  --fs-lg: 1.6rem;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --transition: 0.4s ease-in-out;
}

.faq-container {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
}

.accordion__wrapper {
  margin: auto;
  padding: 4rem;
  display: grid;
  place-items: center;
  background-color: var(--color-background);
  border-radius: 2.5rem;
  max-width: 60rem;
}

.accordion__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-title);
  text-align: center;
  margin-bottom: 2rem;
}

.accordion {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion__question {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  color: var(--color-title);
}

.accordion__icon {
  background-color: var(--color-primary);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-white);
}

.accordion__content {
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion__answer {
  padding: 1rem 0;
}

.feedback-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  font-size: 15px;
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color var(--transition);
}

.feedback-button:hover {
  background-color: #e88b32;
}
